@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:URL('https://cdn.pixabay.com/photo/2022/06/12/22/48/gradient-7258997_1280.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}